/* .footer-widget{
    border-width: 0px 0px 2px 2px; 
    padding:10px;
    border:none ;
} */
/* .card{
    border-color;
} */
/* .footer-widget {
    border: 1px solid #444;
    height: 100%;
    width: 100%;
} */